/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: white;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.item-regua {
  padding: 5px;
  width: 15%;
  margin: 5px;
  text-align: center;
  padding-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.btn-buscarPlantacao{
  width: 12%;
  height: 35px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #FF6666;
  color: white;
  font-weight: 600;
}

.btn-buscarPlantacao:hover{


  background-color: white;
  color: #e6005a;
  font-weight: 800;

}


.graficossss{
  width: 100%;
}

.AdicionarPlantação{
  margin: auto; 
  display: block;
  text-align: center;
  margin-top: 25px;
  width: 150px;
}

.buttonCadastroPlantacao{
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: #FF6666;
  color: white;
  font-weight: 600;
}

.buttonCadastroPlantacao:hover{
  background-color: white;
  color: #FF6666;
  font-weight: 800;
}

.AdicionarPlantacaoAberto{
  display: none;
  border-radius: 25px;
  background-color: #e6005a;
  width: 50%;
  margin: auto;
}

.inputs{
  display: flex;
  justify-content: space-around;
  padding: 15px;
}


.graficos_container {
  display: flex;
  max-width: 100%; /* Limita a largura da div contêiner à largura da tela */
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

/* Estilos para a seção dos gráficos */
.graficos_umAoLadodoOutro {
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0; /* Impede que a seção diminua além do seu tamanho inicial */
  width: 50%; /* Cada seção terá 50% da largura disponível */
  max-width: calc(50% - 40px); /* Largura máxima com base na largura total e margens */
  box-sizing: border-box; /* Garante que padding e bordas não afetem a largura total */
  overflow: hidden; /* Remove a rolagem lateral */
}

.graficos_umAoLadodoOutro p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos específicos para o canvas do gráfico */
#dht11Umidade,
#lm35Temperatura {
  width: 100%; /* Preenche a largura da seção */
  height: auto; /* Altura automática para manter a proporção */
  border: 1px solid #ddd;
  border-radius: 5px;}
  
  .SelectPlatacoes {
    margin: 20px;
    text-align: center;
}

/* Estilizando o select */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ff6666; /* Cor do morango */
    color: #fff; /* Cor do texto */
    cursor: pointer; /* Mostra o cursor como uma mão ao passar sobre o select */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave para a mudança de cor de fundo */
}
    /* Estilo quando o select está focado (quando clicado) */
    :focus {
        outline: none;
        background-color: #cc3333; /* Cor do morango mais escura */
    }

    /* Estilo para as opções dentro do select */
    option {
        background-color: #ff9999; /* Cor de fundo para as opções */
        color: #333; /* Cor do texto das opções */
    }



    .cards-container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 20px auto;
  }
  
  /* Estilos para os cards */
  .cardss {
    display: block;
      box-sizing: border-box;
      width: calc(50% - 20px);
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
  }
  
  /* Cores específicas do morango */
  .strawberry {
      background-color: #ff6666;
      color: #fff;
  }
  
  /* Estilo quando o mouse está sobre o card */
  .card:hover {
      background-color: #cc3333;
  }

  .h2CardEstufas{
    font-size: 25px;
  }
  .pCardEstufas{
    font-size: 15px;
  }