*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.GraficosJáligadosComAPI{
    display: flex;
    width: 100vw;
    height: 300px;
}

.graficos_umAoLadodoOutro{
    font-size: 20px;
}

.DivDashBoardCard{
    width: 40%;
    border: 1px solid Gray;
    padding-bottom: 25px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
}

.cardTempeHumIDeal{
    margin: auto;
    width: 65%;
}

/* .DivDashBoardCard-2{
    width: 99%;
    border: 1px solid Gray;
    padding-bottom: 25px;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 25px;
} */

.FlexBox{
    display: flex;
}

.Card-MédiaMensalUmi{
    margin: auto;
}

.Card-MédiaMensalTemp{
    margin: auto;
}

.NumberCardMensalUmi{
    font-size: 20px;
    background-color: #288f4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.NumberCardMensalTemp{
    font-size: 20px;
    background-color: #288f4a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.regua {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  
  .perigo-frio {
    background-color: #5c6bc0;
  }
  
  .perigo-quente {
    background-color: #ff7043;
  }
  
  .alerta-frio {
    background-color: #42a5f5;
  }
  
  .alerta-quente {
    background-color: #ffee58;
  }
  
  .ideal {
    background-color: #9ccc65;
  }
  
  .item-regua {
    padding: 5px;
    width: 15%;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
  }

  .h3Graficos{
    margin-top: 20px;
    display: flex;
    margin: auto;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .imgVetorUmidade{
    margin-left: 10px;
    width: 35px;
  }

  .imgVetorTemperatura{
    margin-left: 10px;
    width: 55px;
  }